img{
    height: 100px;
    width: 100px;
}
.bord{
    border-top: 8px solid red; 
    
}
.bord1{
    border-top: 8px solid blue; 
}
.bord2{
    border-top: 8px solid green; 
}
.bord3{
    border-top: 8px solid yellow; 
}
.whole{
    background-color: rgb(114, 248, 248);
}